<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <!-- <link type="stylesheet" href="styles/main.css"/> -->
    <style>
    .body {
    background-color: blue;
    }

    /* form {
        display:flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }  */

    .container {
    display:flex; 
    justify-content: center;
    height:100vh; 
    align-items: center;
    }

    .form {
        display:flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        gap:12px;
    }

    a {
        text-decoration:none; 
        color:burlywood; 
    }

    body {
    font-family: 'Share Tech', sans-serif;
    color: white;
    display: flex;
    margin: 0;
    
    text-shadow: 8px 8px 10px #0000008c;
    background-color: #343a40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
    }

    h1 {
    padding-bottom:85px; 
    font-size:50px;
    }

    .input {
    text-align: center;
    }

    h3 {
    color:burlywood; 
    text-align: center;
    }

    select {
        margin-right:103px; 

    }

    input {
        height:25px
    }

    </style>
</head>
<body>
    
    <div class="container">
        
        <div class = "mini">
            

            <form id="f" action="/res" method="post">

                <div class="form">

                    <div class="text">
                        <h1>OMNISCIENCE</h1>
                        </div>

                    <div id="type">
                    <label for="userInput">Response Type: </label>
                    <select id="cars" name="utype"> 
                    <option value="text" form="f">Text Response</option>
                    <option value="img">Image Response</option>
                    </select>
                    </div>

                
                    <div id="content">
                <label for="userInput">Input: </label>
                <input type="text" id="uinp" name="uinp">
                    </div>
        
                    <div id="submit">
                <label for="submit"></label>
                <button class="btn btn-dark py-1 mb-3"id="get" type="submit" value="Submit">Submit</button>
                
                    </div>
                </div>

            </form>
        
        
        
            <div class="response">
        <h3>
            <% if(!locals.resp && !locals.imgurl) { %>
            Waiting for data...
            <% } else if (locals.resp){ %>
            <a href="/text/response.txt" download="response.txt">
            <%= resp %>
            </a>
            <% } else if (locals.imgurl) {%>
                <!-- <img src="" alt="Generated Image" width="200px" height="200px"> -->
    
                <a href="/images/<%=inp%>.jpg" download="<%=inp%>.jpg">
                <img src="/images/<%=inp%>.jpg" alt="Trying to access: /Users/theluminousfirefly/Desktop/Passions/Coding_Projects/Web_Development/Back-End/Capstone Project 2/public/images/inp.jpg" width="200px" height="200px"> 
                </a>

                <!-- Note that the anchor href is WRT the public folder (within .ejs), but the file-writing process in index.js involves the path WRT root directory! -->

            <% } %>
        </h3>
            </div>
        </div>
        
    </div>
       
    
</body>
</html>


