.body {
    background-color: blue;
}


.container {
    display:grid; 
    

}

.form {
    text-align: center;
}

.input {
    text-align: center;
}

h2 {
    color:burlywood; 
    text-align: center;
}